<div class="container">
  <div class="row mt-4">
    <div class="col">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="numCookies">Number of Cookies</label>
          <select id="numCookies" class="mb-3 form-control" formControlName="cookieCount">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm" (click)="getCookies()">Get Cookies</button>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="d-flex justify-content-center" *ngFor="let cookie of cookies">
        <span class="mb-2"><h5>"{{cookie.cookie}}"</h5></span>
      </div>
    </div>
  </div>
</div>